<header id="sg-header" class="top-bar-container">
    <a href="#" class="menu-uncollapse" data-toggle="menuCollapse">
        <span class="icon-arrow-right"></span>
    </a>
    <div class="grid-container">
        <div class="top-bar">
            <div class="top-bar-left">
                <a class="logo-link" href="/">
                    <span class="icon-ascensiontech-logo branding--logo"></span>
                </a>
                <span>Web App Design System</span>
            </div>
            <div class="top-bar-right">
            </div>
        </div>
    </div>
</header>